html {
  background-color: #d3d3d3;
}

body {
  font-family: Arial, serif;
}

h1 {
  text-align: center;
  margin-top: 5%;

  color: #000059;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 3%;
  width: 400px;
  height: 600px;
}

.top-p {
  text-align: left;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 20%;
  line-height: 2em;
  color: #000059;
}

.bot-p {
  text-align: left;
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 20%;
  line-height: 2em;
  color: #000059;
}

.skills-list {
  color: #000059;
  list-style-type: square;
  text-align: right;
  margin-top: 3%;
  margin-left: 30%;
}

.skills-list li {
  /*display: inline-block;*/
  list-style-type: square;
  text-align: left;
  padding: 10px;
  font-weight: bold;
}